<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="App Automation Suite">
    <parameter name="platform" value="android"/>
    <parameter name="appVersion" value="176.1"/>
    <test name="Mobile Android Tests">
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
</suite>
